<br/>
<b><p id="notice"><%= notice %></p></b>
<% if logged_in? %>
<%= render 'form', booking: @booking %>
<%else %>
    <%= link_to "Login to continue", sessions_new_path %></li>
<% end %>
<%= link_to 'Back', bookings_path %>
