<% provide(:title, @current_user.name) %>
<div style="margin: 5%">
<p id="notice"><%= notice %></p>
<%= render 'users/users_common' %>
<br/>
<p>
  <% if logged_in? && logged_in_as_admin? %>
      <%= render 'users/user_search_box' %>
      <br/>
  <% end %>
      <%= render 'rooms/room_search_box' %>

</p>
<br/>
</div>

