<% provide(:title, "Home") %>
<p>
  Welcome to Library Room Booking <br/>
  <%= link_to "Login to continue", sessions_new_path %></li>
  <br>
  <%= link_to "Not a Member? Sign Up!", new_user_path %></li>
</p>
