<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | First try</title>
    <%= csrf_meta_tags %>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <%= javascript_include_tag :defaults%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
